**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.venv
**/venv
**/env
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/secrets.dev.yaml
LICENSE
README.md
tests/
GraphQLQueryExample/
