# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual and local environments
.venv/
venv/
env/
.env

# Packaging
build/
dist/
*.egg-info/
staticfiles/

# Testing
.pytest_cache/
.mypy_cache/
.coverage

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# PDFS
.pdf
